@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Playfair+Display:ital@1&family=Raleway:ital@1&family=Tilt+Prism&display=swap');

:root {
    /* PALETTE */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500:rgba(255, 51, 51, 0.5);
    --primary-300:rgba(255, 51, 51, 0.3);


    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography  */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font- sizes */ 
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-6: 0.6rem;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: var(--base-font);
    font-size: 62.56%;
    color: var(--dark-solid);

}

a {
    text-decoration: none;
    font-family: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);

}

ul, ol {
    list-style-type: none;

}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    max-width: 300px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);

}
.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    color: var(--light-bg-solid);

}

.navbar__link:hover {
    background-color: var(--primary-900);

}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;


}

.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
    color: var(--light-bg-solid);
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* HERO */

.hero {
    background-image: url(../multimedia/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
   

}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    color: var(--dark-solid);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3 ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* COLLECTIONS*/

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/* SLIDER */

/*.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}*/

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
iconify-icon{
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}
.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}
.slider__items {
    display: flex;
    gap: var(--spacing-24);
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
}

.card-item__cover img {
    animation: fade 1.7s; /*.7s */
}

.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;

}

.card-item__cover:hover .card-item__img--front {
    display: none;

}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}
.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}
.card-item__price {
    font-size: var(--font-small);
}
.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}
/* FOOTER*/

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

/* ANIMATION*/

@keyframes fade {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* COMIENZA EL CSS DE SHOP */

.main-contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;

}


.colecion{
    margin-right: 10%;
    justify-content: center;
}

.shop__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-36);
}

#shop{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    /*gap: var(--spacing-28);*/
    font-family: var(--base-font);
    margin: var(--spacing-68) auto;
} 

.shop__filters {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
    margin-left: 15px;
}

.filters__title {
    font-size: var(--font-medium);
    font-weight: 500;
}

.filter__search,
.filter__order {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
}

.filters__search input,
.filters__order select {
    border-radius: 6px;
    border: 2px solid var(--dark-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8);
}

.filters__price div {
    margin-top: var(--spacing-12);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.filters__price label {
    font-size: var(--font-small);
    font-weight: 500;
}

.filters__price input {
    width: 70px;
    text-align: center;
    border-radius: 6px;
    font-size: var(--font-medium);
    border: 2px solid var(--dark-solid);
    padding: 4px var(--spacing-8);
}

.filters__checks {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.filters__checks span {
    margin-bottom: var(--spacing-12);
}

.filters__checks div {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    font-weight: 500;
    font-size: var(--font-medium);
}

.filters__checks div input {
    accent-color: var(--primary-solid);
    width: 16px;
    height: 16px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
}

.pagination .pagination__link {
    display: block;
    font-size: var(--font-medium);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--dark-300);
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
    color: var(--dark-500);
}

.pagination .pagination__link:hover {
    background-color: var(--primary-900);
    color: var(--light-bg-solid);
    border-color: var(--primary-500);
}

.pagination .pagination__link--selected {
    border-color: var(--primary-solid);
    color: var(--primary-solid);
}


@media screen and (max-width: 768px) {
    
}

#register {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.register__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
}

.register__title {
    font-size: var(--font-jumbo);
}

.register__subtitle {
    font-size: var(--font-large);
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#register .form__terms {
    font-size: var(--font-small);
}


/*------------------------- REGISTER------------

.register-title{
    font-size: var(--spacing-28);
    font-family: var(--alternative-font);
    font-weight: 800;
    text-align: center;

}

.register-subtitle{
    font-size: var(--spacing-20);
    font-family: var(--alternative-font);
    font-weight: 500;
    text-align: center;
}

.list-item{
    font-family: var(--alternative-font);
    font-size: var(--spacing-16);
    font-weight: 800;
    text-align: center;
    line-height: 50px;
}

.button{
    background-color: #FF3333;
    color: var(--dark-solid);
   /* border-bottom: var(--spacing-28 --spacing-36);
} 

*/

/*---------------LOGIN--------*/

#login {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.login__title {
    text-align: center;
    font-size: var(--font-jumbo);
}

.login__form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#login .form__link {
    font-size: var(--font-small);
    text-align: center;
}

/*---------------EDIT--------*/

#edit {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.edit__title {
    font-size: var(--font-jumbo);
}

.edit__form {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.edit__img {
    max-width: 150px;
    padding-bottom: var(--spacing-8);
}

.edit__img-side {
    font-size: var(--font-small);
    text-align: center;
    padding-top: var(--spacing-8);
    border-top: 2px solid var(--primary-solid);
    font-weight: 600;
}

/*---------------CREATE--------*/

#create {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--spacing-36);
}

.create__title {
    font-size: var(--font-jumbo);
}

.create__form {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-48);
}

/* REGULAR FORM ELEMENTS */

textarea {
    width: 100%;
}

textarea::placeholder {
    padding: var(--spacing-8);
    color: gainsboro;
}

.form__box--grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-16);
    align-items: center;
}

.form__box--flex {
    display: flex;
    gap: var(--spacing-12);
    align-items: center;
}

.form__flex {
    display: flex;
    gap: var(--spacing-36);
}

.form__flex .form__box{
    flex: 1 1 100%;
}

.form__label {
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: 1px;
}

.form__input {
    padding: 1rem 0.5rem;
    border: none;
    flex-grow: 1;
    border-bottom: 2px solid #ff3333;
    font-size: var(--font-medium);
}

.form__input:focus {
    outline: 0;
}

.form__input--wrapper {
    display: flex;
    align-items: center;
}

.form__input--wrapper .form__input {
    width: 50%;
}

.form__input--wrapper span {
    font-size: var(--font-medium);
    padding: 1rem 0.5rem;
    border-bottom: 2px solid #ff3333;
}

.form__remember {
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    gap: var(--spacing-8);
}

.form__terms {
    display: flex;
    align-items: center;
    font-size: var(--font-small);
    gap: var(--spacing-8);
}

.form__submission {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);
}

.form__btn {
    font-size: var(--font-xsmall);
}

.form__link {
    color: var(--secondary-solid);
}

.form__link:hover {
    color: var(--secodary-300);
}

.form__select {
    border-radius: 6px;
    border: 2px solid var(--dark-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8);
}


/*---------------ADMIN--------*/

#admin {
    margin: var(--spacing-68) auto;
}
.admin__search {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-36);
}

.admin__icon {
    font-size: var(--font-xlarge);
}

.admin__search-bar {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-8);
    border: 2px solid var(--dark-solid);
    border-radius: 6px;
    outline: none;
    flex: 0 0 35%;
}

.admin__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-24);
}

.admin__header h2 {
    font-size: var(--font-jumbo) ;
}

.admin__header span {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-large);
    font-weight: 700;
}

.admin__header span a {
    display: flex;
    font-size: var(--font-medium);
}

.admin-table {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.admin-table__header,
.admin-table__row {
    display: grid;
    grid-template-columns: 40px 1fr 3fr 3fr 40px 40px;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-medium);
    font-weight: 500;
}

.admin-table__header {
    margin-bottom: var(--spacing-24);
}

/*---------------ITEM-----------*/

.item{
    display: flex;
    align-items: center;
    gap: var(--spacing-24);
}

.item__img{
    flex: 1 1 100%;
}

.item__info{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);

}

.item__licence{
    font-size: var(--font-small);
    font-weight: 500;

}

.item__name{
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__description{
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price{
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__cart{
    display: flex;
    gap: var(--spacing-16);
}

.item__cart .item__quantity{
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    border: none;
    cursor: pointer;
}

.item__cart .item__input{
    font-size: var(--font-large);
    padding: 6px var(--spacing-16);
    text-align: center;
    max-width: 70px;
}

.item__cart .item__submit {
    font-size: var(--font-medium);

}

.item__promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

.item__promo a {
    text-decoration: underline;
}

/*anexo de los css*/

/* BUTTONS STYLES */

.btn {
    border: none;
    cursor: pointer;
}

/* COLORS */

.btn--primary {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    transition: background 0.2s ease-in-out;
}

.btn--primary:hover {
    background-color: var(--secondary-solid);
}

/* SIZES */

.btn--medium {
    padding: var(--spacing-8) var(--spacing-16);
}

.btn--large {
    padding: var(--spacing-12) var(--spacing-28);
}

#register {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.register__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
}

.register__title {
    font-size: var(--font-jumbo);
}

.register__subtitle {
    font-size: var(--font-large);
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#register .form__terms {
    font-size: var(--font-small);
}
